<div id="panel">
<b>Start: </b>
<select id="start" onchange="calcRoute();">
  <option value="surrey, bc">Surrey</option>
  <option value="vancouver, bc">Vancouver</option>
  <option value="new westminster, bc">New Westminster</option>
  <option value="richmond, bc">Richmond</option>
  <option value="langley, bc">Langley</option>
  
</select>
<b>End: </b>
<select id="end" onchange="calcRoute();">
 <option value="surrey, bc">Surrey</option>
  <option value="vancouver, bc">Vancouver</option>
  <option value="new westminster, bc">New Westminster</option>
  <option value="richmond, bc">Richmond</option>
  <option value="langley, bc">Langley</option>
</select>
</div>
<div id="map-canvas"></div>